.new-tweet form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet label {
  padding-top: 80px;
  text-align: left;
  width: 50%;
}

#tweet-text {
  height: 1.5em;
  width: 50%;
  background-color: transparent;
  outline: none;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.new-tweet form div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

button {
  background-color: rgb(41, 41, 128);
  color:azure;
}

output {
  text-align: right;
}

.counter {
  font-family: 'Bungee', cursive;
}

#error {
  margin: 20px;
  border: 3px solid red;
  padding: 15px;
  color: red;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}


@media only screen and (min-width: 768px) {
  .new-tweet label {
    padding-top: 80px;
    text-align: left;
    width: 100%;
  }
  
  #tweet-text {
    height: 1.5em;
    width: 100%;
    background-color: transparent;
    outline: none;
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
  }
  
  .new-tweet form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Bungee', cursive;
  }
  
  #error {
    margin-top: 50px;
    margin-bottom: 0px;
  }
}